body{
    background-color: black;
    font-size: xx-large;
    color: white;
}
input{
    border-radius: 10px;
    width: 300px;
    height: 40px;
    font-size: x-large;
    font-weight: 400;
}